.footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color:#f5f5f2;
}

.footer {
  @include grid-row();
  padding: rem-calc(30) 0;
  text-align:center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .foot-copyright {
    font-size:12px;
    color:rgb(153, 153, 153);
  }
}