.site-top {
  @include grid-row;
  margin-top: 2.5em;
}

.site-logo {
  @include grid-column(12);
    @include breakpoint(medium) {
    @include grid-column(6);
  }
}

.site-cta {
  @include grid-column(12);
    @include breakpoint(medium) {
    @include grid-column(6);
    text-align:right;
  }	
}