body { font-size:1.125em; color:#333333; }
h1 { font-size:2.25rem; margin-bottom:1rem; }
h2 { font-size:1.625rem; font-weight:300; }
h3 { font-size:1.4375rem; font-weight:300; }
h4 { font-size:1.25rem; font-weight:300; }
h1, h2, h3, h4 { line-height:1.4; }
p { margin-bottom:1.5rem; }
.main-content h2, .main-content h3 { padding-top:0.7rem; }
.columns:last-child:not(:first-child) { float:left; }
//Colors
$orange: #db6829;
$green: #2d7a3d;
$grey: #f5f5f2;
$black: #333333;

// Page Content
a { color:$orange; }
a:hover { color:#a85020; }
.main-wrap { margin-bottom:2rem; } /* see content.scss */
.main-wrap .main-content {} /* article */
.main-wrap .main-content header {}
.main-wrap .main-content header .entry-title { font-size:36px; font-weight:300; } /* h1 */
.main-wrap .entry-content a { text-decoration:underline; }
.main-wrap .entry-content ul { margin-left: 3.5rem; }
.disclaimer { font-size:14px; line-height:1.4; font-style:italic; }
.body-callout {
  color:$green; 
  padding:1em; 
  border-top:1px solid $green; 
  border-bottom:1px solid $green; 
  display:inline-block; 
  margin:1em 3em;
  font-size:26px;
  text-align:center;
}
// Doctor Finder
.doctor-finder {
  @include grid-column(12);
  background-color:$grey;
  border-radius:22px;
  padding:2.5em 0em;
  margin-top:2.2rem;
  margin-bottom:75px;
  h4 {
    font-size:1.437rem; font-weight:300; text-align:center; margin-bottom:2rem;
  }
  form { text-align:center; }
  label { text-align:left; font-size:1em; line-height:2.3; }
  input[type="submit"] { background-color:transparent; cursor:pointer; margin-top:2rem; margin-bottom:1rem; }
  input[type="submit"]:hover { background-color:$orange; }
  select, input[type="text"] { 
    border-radius:10px; 
    border:none;
    line-height:1.4;
    height:3em;
    margin-bottom:2em;
  }
}

// Services
.services-grid {
  text-align:center;
  padding:1em 0em 3em;
  .services-item {
    padding:1em;
    img { margin-bottom:0.5em; }
    h5 { font-weight:bold; }
    h6 { margin-bottom:1.5rem; }
    a { display:inline-block; }
    button { cursor:pointer; }
  }
}

// Specialty Subnav
.specialty-subnav { 
  text-align:center;
  padding-bottom:3rem;
  .serv-sub { display:inline; border-bottom:2px solid $orange; padding-bottom:0.4rem; padding-top:0.4rem;
    a { 
      position:relative; display:inline-block; padding:0em .5em .8em; line-height:2; 
    }
    a:after {
      content:"\2022"; 
      left:43%; 
      bottom:28%; 
      font-size:56px; 
      line-height:0; 
      color:$orange;
      position:absolute;
    }
  }
  .current { 
    background-color:$orange;  
    a {
      color:#fff;
    }
  }
  .serv-sub:hover { 
    background-color:$orange;  
    a:hover {
      color:#fff;
    }
  }




  /*ul {
    display:inline-block; margin:0 !important; list-style:none;
    li {
      padding:-1px; position:relative; list-style-type:none; display:inline-block; border-bottom:3px solid $orange;
    }
    li:after { 
      position:absolute; 
      content:"\2022"; 
      left:42%; 
      bottom:0; 
      font-size:56px; 
      line-height:0; 
      color:$orange;
      border-bottom:3px solid $orange;
    }
  }*/
}

// FORMS
.nf-form-cont {
  background-color:$grey;
  border-radius:22px;
  padding:2em 6em;
  margin-top:2.2rem;
  h3 { padding:0; text-align:center; }
  .nf-before-form-content { font-size:0.85rem; }
  .nf-field-label label { font-weight:normal; font-size:1rem; }
  input[type="text"], input[type="email"], input[type="tel"], textarea { 
    border-radius:10px; 
    border:none;
    line-height:1.4;
    height:3em;
    margin-bottom:1em;
  }
  .event-button,
  .ninja-forms-field[type="button"] {
    background-color:transparent;
    color:$orange;
    border-radius: 7px;
    height: 41px;
    padding: 14px 20px;
    border: 1.5px solid $orange;
    line-height:.4;
    font-size:18px;
    cursor:pointer;
  }
  .event-button:hover,
  .ninja-forms-field[type="button"]:hover { background-color:$orange; color:#fff; }
}

.request-an-appointment .entry-content,
.new-patient-form .entry-content {
  @include grid-column(10);
  @include grid-column-position(center);
}

// Staff Listings
.single-staff {
  .main-wrap {
    background:inherit;
    .main-content {
      .entry-header {
        .entry-image {
          background-color:$grey;
          border-radius:22px;
          height:410px;
          @include breakpoint(small) {
            //height:410px;
          }
          img {
            //max-height:320px;
            //position:absolute;
          }
          .entry-caption {
            text-align:center;
            margin-top:calc(410px - 94px);
            h3 { padding-top:1rem; margin-bottom:0rem; font-size:1.625rem; }
            h4 { font-style:italic; line-height:1;}
          }
        }
      }
      .entry-content {
        .entry-dr-meta { margin:2em 0em; }
        h5 { 
          font-weight:bold;
          span { font-weight:normal; }
        }
        h5.staff-quote { 
          color:$green; 
          font-weight:300; 
          font-size:1.375em;
          margin-bottom:2em; 
        }
      }
    }
  }
}

// Sidebars, including staff
.sidebar, .sidebar-staff {
  padding-left:4em;
  article {
    margin-bottom:2em;
    background-color:$grey;
    border-radius:22px;
    .widget-title, .staff-widget-title {
      font-size:1.25rem;
      background-color:$green;
      border-radius:22px 22px 0px 0px;
      text-align:center;
      color:#fff;
      padding:.5em 0em;
    }
    .widget-container, .staff-widget-container {
      padding:2em;
      text-align:center;
    }
    .context { margin-bottom:31px; }
    .widget-location {}
    .widget-insurance {}
    .widget-directory-dl {}
    .widget-dr-articles {}
  }
  :last-child {margin-bottom:0em;}
}
.list-cc {
  padding:1.25em 1em;
  p a { color:$black; }
  img { padding-bottom:.5em; }
  div p { margin-bottom:0em; }
}
.list-cc:first-child { padding-top:0; }
.sidebar-location .widget-photo img, .sidebar .widget-directory-dl img { max-width:none; width:100%; }

// Locations
.meet-your-care-team { 
  border-left: 5px solid #2c7a3e; padding-left: 1rem; margin: 2rem 0rem; 
  h2 { padding:1rem 0rem; margin-bottom:0; }
}

// Teams
.btn-box { margin-top:1.5rem; }
#individual-doctor { 
  p { margin-bottom:.5rem; line-height:1.2; }
  padding:1em; 
}
#individual-doctor img { border-radius: 50%; padding-bottom:1rem; }
#individual-doctor p:first-child { margin-bottom:0rem; }

// Location Maps
.em-location-map-container { 
  width:100% !important; border-radius:22px !important; margin-top:2.8rem;
  .em-location-map, .em-locations-map { border-radius:22px !important; }
}
.widget-map .em-location-map-container { 
  width:100% !important; border-radius:22px !important; height:230px !important; 
  .em-location-map, .em-locations-map { border-radius:22px !important; }
}
.meet-your-leadership-team h2,
.meet-your-hospitalist-team h2 { padding-top:1.4rem; }


// Testimonial Components
.orange { color:$orange; }

.special-button {
  border-radius: 7px;
  height: 41px;
  padding: 14px 20px;
  border: 1.5px solid $orange;
  line-height:.2;
  font-size:17px;
}
.top-button, 
.cta-button,
.cta-button-front {
  border-radius: 7px;
  height: 41px;
  padding: 14px 20px;
  border: 1.5px solid $orange;
  line-height:.2;
  font-size:17px;
  cursor:pointer;
}
.cta-button-front {
  font-size:18px;
}
.top-button:hover, .cta-button:hover, .cta-button-front:hover { background-color:$orange; color:#fff; }
.bcta-center { margin:0px 4px; }
.testimonial {
  .tm-content {
    @include grid-row();
    max-width: 65rem;
    color:#fff;
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
  .tm-content h3 { font-size:1.625rem; font-weight:300; line-height:1.5; }
  .tm-content h4 { font-size:1rem; font-style:italic; font-weight:400; margin-top:.95em;}
  @include breakpoint(small) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: bottom;
    //padding: rem-calc(40%) 0 0;
    //margin: rem-calc(32) 0 0 ;
    height: auto;
    position: relative;
  }
  @include breakpoint(medium) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: center;
    height: rem-calc(286);
    //margin: rem-calc(64) 0 0 ;
  }
  margin:0;
  text-align:center;
}
.inline-testimonial {
  margin:1.7rem 0em .5rem;
  display:inline-block;
  .testimonial-image {
    float:left;
    padding-right:1em;
    display:block;
  }
  .testimonial-quote {
    font-weight:300;
    font-size:1.25rem;
  }
  .testimonial-attrib {

  }
}

//News
.entry-content .display-posts-listing {
  margin-left:0rem !important;
  list-style-type:none;
  .listing-item {
    margin:1em 0em;
    display:inline-block;
    .image {
      float:left; display:block; padding:0em 1em 1em 0em;
      img { border-radius:100%; }
    }
    .title { display:block; font-size:1.4375rem; }
    .excerpt-dash { display:none; }
    .excerpt { display:block; }
  }

}

// Footer Social Links
.footer-social-link {
	display: inline-block; 
	
	& a { 
		color: $orange;
	    display: block;
	    //float: left;
	    width: 2.375rem;
	    height: 2.375rem;
	    border: 1px solid $orange;
	    border-radius: 20px;
	    margin: .625rem;
	    position: relative;
	}

	& a i {
	    font-size: 1.25rem;
	    color: $orange;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}
