body { font-size:1.125em; color:#333333; }
h1 { margin-bottom:1rem; }
h2 { font-size:1.875em; font-weight:300; }
h3 { font-size:1.4375em; font-weight:300; }
h4 { font-size:1.25em; font-weight:300; }
h1, h2, h3, h4 { line-height:1.4; }

//Colors
$orange: #db6829;
$green: #2d7a3d;
$grey: #f5f5f2;

// Page Content
a { color:$orange; }
a:hover { color:#a85020; }
.main-wrap { } /* see content.scss */
.main-wrap .main-content {} /* article */
.main-wrap .main-content header {}
.main-wrap .main-content header .entry-title { font-size:30px; font-weight:300; } /* h1 */
.disclaimer { font-size:14px; line-height:1.4; font-style:italic; }

// Doctor Finder
.doctor-finder {
  @include grid-column(12);
  background-color:$grey;
  border-radius:22px;
  padding:2em 0em;
  h4 {
    font-size:1.25em; font-weight:300; text-align:center;
  }
  input[type="submit"] { background:transparent; cursor:pointer; }
}

//
.services-grid {
  text-align:center;
  padding:1em 0em 3em;
  .services-item {
    padding:1em;
    a { display:inline-block; }
    button { cursor:pointer; }
  }
}

// Staff Listings
.single-staff {
  .main-wrap {
    background:inherit;
    .main-content {
      .entry-header {
        .entry-image {
          background-color:$grey;
          border-radius:22px;
          height:410px;
          @include breakpoint(small) {
            //height:410px;
          }
          img {
            //max-height:320px;
            //position:absolute;
          }
          .entry-caption {
            text-align:center;
            margin-top:calc(410px - 94px);
            h3 {}
            h4 {}
          }
        }
      }
      .entry-content {
        .entry-dr-meta { margin:2em 0em; }
        h5 { 
          font-weight:bold;
          span { font-weight:normal; }
        }
        h5.staff-quote { 
          color:$green; 
          font-weight:300; 
          font-size:1.375em;
          margin-bottom:2em; 
        }
      }
    }
  }
}

// Staff Sidebars
.sidebar, .sidebar-staff {
  padding-left:4em;
  article {
    margin-bottom:2em;
    background-color:$grey;
    border-radius:22px;
    .widget-title, .staff-widget-title {
      background-color:$green;
      border-radius:22px 22px 0px 0px;
      text-align:center;
      color:#fff;
      padding:.5em 0em;
    }
    .widget-container, .staff-widget-container {
      padding:2em;
      text-align:center;
    }
    .widget-location {}
    .widget-insurance {}
    .widget-directory-dl {}
    .widget-dr-articles {}
  }
  :last-child {margin-bottom:0em;}
}

// Locations
.meet-your-care-team { border-left: 5px solid #2c7a3e; padding-left: 1rem; margin: 2rem 0rem; }
#individual-doctor img { border-radius: 50%; }
#individual-doctor p:first-child { margin-bottom:0rem; }



// Testimonial Components
.orange { color:$orange; }

.top-button, 
.cta-button,
.cta-button-front {
  border-radius: 7px;
  height: 41px;
  padding: 14px 20px;
  border: 1.5px solid $orange;
  line-height:.3;
  font-size:17px;
}
.cta-button {
  font-size:18px;
}

.testimonial {
  .tm-content {
    @include grid-row();
    max-width: 65rem;
    color:#fff;
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
  .tm-content h3 { font-size:1.625rem; font-weight:300; line-height:1.5; }
  .tm-content h4 { font-size:1rem; font-style:italic; font-weight:400; margin-top:.95em;}
  @include breakpoint(small) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: bottom;
    //padding: rem-calc(40%) 0 0;
    //margin: rem-calc(32) 0 0 ;
    height: auto;
    position: relative;
  }
  @include breakpoint(medium) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: center;
    height: rem-calc(286);
    //margin: rem-calc(64) 0 0 ;
  }
  margin:0;
  text-align:center;
}
.inline-testimonial {
  margin:1em 0em;
  display:inline-block;
  .testimonial-image {
    float:left;
    padding-right:1em;
    display:block;
  }
  .testimonial-quote {
    font-weight:300;
  }
  .testimonial-attrib {

  }
}



// Footer Social Links
.footer-social-link {
	display: inline-block; 
	
	& a { 
		color: $orange;
	    display: block;
	    //float: left;
	    width: 2.375rem;
	    height: 2.375rem;
	    border: 1px solid $orange;
	    border-radius: 20px;
	    margin: .625rem;
	    position: relative;
	}

	& a i {
	    font-size: 1.25rem;
	    color: $orange;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}
