// Page header
.front-hero {
  .tagline {
    position:absolute;
    top: calc(48% - 40px);
    left: calc(50% - 40px);
  }
}

// Intro
.intro {
  @include grid-row();
  .fp-intro {
    @include breakpoint(small) {
      @include grid-column(12);
    }
    h1 { font-size:30px; font-weight:300; }
  }
}

// Calls To Action
.cta-container {
  //@include grid-row();
  text-align: center;
  margin-top:2em;

  /* originally removed from template */
  /*.front-cta {
    background-color:#f5f5f2;
    border-radius:20px;
  }

  .choose,
  .tour {
    @include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4, 0);
      @include grid-column-offset(2);
      @include grid-column-end;

    }*/




/* Custom layout elemtents removed for testing*/
.front-cta {
    /*@include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      //@include grid-column-position(center);
      @include grid-column-end;

    }*/

    .choose,
    .tour {
      background-color:#f5f5f2;
      border-radius:20px;
    }


    img {

    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
      margin: .75em 0em;
    }

    p {
      padding: 0em 1.25em 1.25rem;
      font-size: 1rem;
      margin-bottom:0;
    }

    button {
      padding:1em 2.5em;
      cursor:pointer;
    }
  }

}
