// Page header
.front-hero {
  .fh-content {
    @include grid-row();
    max-width: 55rem;
  }

  @include breakpoint(small) {
    background: url('../images/tvh-test-hero-image.jpg') bottom center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/tvh-test-hero-image.jpg') bottom center;
    background-size: cover;
    background-position: center;
    height: rem-calc(364);
    margin: 0 0 rem-calc(72);
  }

  .tagline {
    @include breakpoint(small) {
      @include grid-column(8);
    }

    @include breakpoint(medium) {
      @include grid-column(5);
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  @include grid-row();
  .fp-intro {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }
}

// Calls To Action
.cta-container {
  //@include grid-row();
  text-align: center;

  /* originally removed from template */
  /*.front-cta {
    background-color:#f5f5f2;
    border-radius:20px;
  }

  .choose,
  .tour {
    @include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4, 0);
      @include grid-column-offset(2);
      @include grid-column-end;

    }*/




/* Custom layout elemtents removed for testing*/
.front-cta {
    /*@include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      //@include grid-column-position(center);
      @include grid-column-end;

    }*/

    .choose,
    .tour {
      background-color:#f5f5f2;
      border-radius:20px;
    }


    img {

    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      padding: 1.25rem;
      font-size: 0.9375rem;
      margin-bottom:0;
    }

    button {
      padding-bottom:1em;
    }
  }

}
