// Page header
.front-hero {
  @include breakpoint(small only) {
    position:relative;
  }
  .tagline {
    position:absolute;
    //top: calc(50% - 40px);
    //position:relative;
    top: calc(24rem - 40px);
    left: calc(50% - 40px);
    display:inline-block;
    @include breakpoint(large down) {
      top: calc(20rem - 40px);
    }
    @include breakpoint(small only) {
      top: calc(50% - 40px);
    }
  }
}

// Intro
.intro {
  @include grid-row();
  margin-top:3rem;
  .fp-intro {
    @include breakpoint(small) {
      @include grid-column(12);
    }
    h1 { font-size:36px; font-weight:300; }
  }
}

// Calls To Action
.cta-container {
  //@include grid-row();
  text-align: center;
  margin-top:2em;
  margin-bottom: rem-calc(75);

  /* originally removed from template */
  /*.front-cta {
    background-color:#f5f5f2;
    border-radius:20px;
  }

  .choose,
  .tour {
    @include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4, 0);
      @include grid-column-offset(2);
      @include grid-column-end;

    }*/




/* Custom layout elemtents removed for testing*/
.front-cta {
    /*@include breakpoint(small) {
      @include grid-column(10, 0);
      @include grid-column-offset(1);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      //@include grid-column-position(center);
      @include grid-column-end;

    }*/
    @include breakpoint(small) {
      margin-bottom: rem-calc(25);
    }
    .default,
    .choose,
    .tour {
      background-color:#f5f5f2;
      border-radius:20px;
      max-width:462px;
    }


    img {
      width:100%;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
      margin-top: .65em;
      text-transform:capitalize;
    }

    p {
      padding: 0em 1.25em;
      font-size: 1.125rem;
      margin-bottom:0;
    }
    .btn-box {
      padding:2.5rem 0rem;
    }
    button {
      padding:1em 2.5em;
      cursor:pointer;
      text-transform:capitalize;
    }
  }

}
