.main-wrap {
  @include grid-row();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}

.main-content {

  // default 2 column
  //@include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(12);
  }

  // 1 column
  //.full-width.main-wrap & {
  //  @include breakpoint(medium) {
  //    @include grid-column(12);
  //  }
  //}

  // 2 column sidebar right
  .sidebar-right.main-wrap & {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(8);
      @include grid-col-pos(4);
    }
  }
}

.sidebar {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-col-pos(-8);
      margin-top: 1rem;
    }
  }
}

.orange { color:#db6829; }

.top-button, 
.cta-button {
  border-radius: 7px;
  height: 41px;
  padding: 14px 20px;
  border: 1.5px solid #db6829;
}

.testimonial {
  .tm-content {
    @include grid-row();
    max-width: 55rem;
    color:#fff;
  }

  @include breakpoint(small) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(40%) 0 0;
    margin: rem-calc(32) 0 0 ;
    height: auto;
    position: relative;
  }

  @include breakpoint(medium) {
    background: url('../images/tvh-tm-bgnd.jpg') top center;
    background-size: cover;
    background-position: center;
    height: rem-calc(286);
    margin: rem-calc(64) 0 0 ;
  }

  text-align:center;

}