.main-wrap {
  @include grid-row();
  margin-top: 1rem;
  margin-bottom: rem-calc(75);
  @include breakpoint(medium) {
    margin-top: 3rem;
    //padding-left:1rem;
    //padding-right:1rem;
  }
  @include breakpoint(small) {
    padding-left:0rem;
    padding-right:0rem;
  }
}

.main-content {

  // default 2 column
  //@include grid-column(12);
  padding-left:1rem;
  padding-right:1rem;
  @include breakpoint(large) {
    @include grid-column(12);
  }

  // 1 column
  //.full-width.main-wrap & {
  //  @include breakpoint(large) {
  //    @include grid-column(12);
  //  }
  //}

  // 2 column sidebar right
  .sidebar-right.main-wrap & {
    @include grid-column(12);

    @include breakpoint(medium down) {
      padding:0rem 1rem;
      padding-left:1rem;
      padding-right:1rem;
    }
    @include breakpoint(large) {
      @include grid-column(8);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(large) {
      @include grid-column(8);
      @include grid-col-pos(4);
    }
  }
}






.sidebar {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium down) {
    @include grid-column-collapse;
  }
  @include breakpoint(large) {
    @include grid-column(4);
    //margin-top: 1rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(large) {
      @include grid-column(4);
      @include grid-col-pos(-8);
      //margin-top: 1rem;
    }
  }
}
