// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-nav {
  @include grid-row;
}
.desktop-menu {
  @include grid-column();
}

// Navigation Bar
.top-bar { padding:0; /*margin-top:1.5em;*/ }
.top-bar, .top-bar ul { background-color:#ffffff; }
.top-bar li { height:42px; display:inline-block;  }
.top-bar li a { color:#333; font-weight:normal; font-size:1em; padding:0.5rem 1rem !important; }

.top-bar .is-dropdown-submenu { background:transparent; border:none; min-width:240px;}
.top-bar .is-dropdown-submenu li { background-color:rgba(219, 104, 41, 0.9); height:auto; }
.top-bar .is-dropdown-submenu li a { color:#fff; }

.desktop-menu .active a { background:none; color:#333; }
.desktop-menu .current-menu-parent a,
.desktop-menu .current-menu-item a, 
.desktop-menu .menu-item a:hover { border-bottom:8px solid #db6829; }
//.desktop-menu .current-menu-parent a:last-child { border-bottom:0px !important; }
.is-submenu-item a { border-bottom:0px !important; }
.submenu .current-menu-item, .submenu .current-page-ancestor { background-color:#db6829; }
.submenu .current-menu-item a, .submenu .menu-item a:hover { color:#fff; border-bottom:0px; background-color:rgba(168, 80, 32, 0.9); }
.submenu .current-menu-item a, .submenu .current-page-ancestor a { color:#fff; }

.dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu { left:25%; }
.dropdown.menu.vertical > li .is-dropdown-submenu { top:100%; }

.single-staff .top-bar,
.doctors .top-bar, 
.general-staff-form .top-bar,
.contact .top-bar { border-bottom:17px solid #f5f5f2; }

// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}


// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: /*#333*/ transparent transparent transparent !important;
    }
    &.active > a::after {
      border-color: /*#333*/ transparent transparent transparent !important;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: /*#333*/ transparent transparent transparent !important;
    }
    &.active > a::after {
      border-color: /*#333*/ transparent transparent transparent !important;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}